.canvas {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.pixel {
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  flex-grow: 1;
}
.row {
  display: flex;
  flex-grow: 1;
}
.black {
  background-color: black;
}