.canvas {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
}
.pixel {
  max-height: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.row {
  display: flex;
  flex-grow: 1;
}
.black {
  background-color: black;
}
.main-containter {
  display: flex;
  justify-content: center;
  gap: 40px;
}