.pixel {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 2px solid red;
}
/* .pixel:hover{
  background-color: black;
} */
.row {
  display: flex;
}
.black {
  background-color: black;
}